$theme-colors: (
    "primary":  #04618b,
    "secondary": #818181
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: edo;
    src: url(edo.ttf);

}

:root {
    --fa-primary: #04618b;
    --fa-secondary: #818181;
    --fa-accent: #ef0b0d;
    --fa-light: #eadada;
    --fa-alternate: #71a9cc;
    --fa-header: #7b212d;
}

root {
    width: 100%;
}

body {
    background-color: var(--fa-light);
}

b, strong {
    color: var(--fa-primary);
}

.fa-container {
    padding: 0em;
}

.fa-footer {
    background-color: white;
}

.fa-footer-bottom {
    background-color: var(--fa-primary);
    color: white;
    padding-top: .5em;
}

.fa-header-row1 {
    background-color: var(--fa-alternate);
    margin-left: 0em;
    width: 100%;
    padding: .5em;
    color: var(--fa-primary);
    font-family: edo;
}

.fa-paragraph-row1 {
    background-color: white;
    margin-left: 0em;
    width: 100%;
    padding: .5em;
    font-size: 1em;
    text-align: center;
}

.fa-footer-title1 {
    background-color: var(--fa-alternate);
    font-family: edo;
    color: var(--fa-primary);
}

.fa-hours-list {
    width: 75%;
    margin: 1em;
}

.fa-hours-list-item {
    text-align: center;
}

.fa-nav {
    font-family: edo;
    font-size: 1.25em;
}

.fa-contact-info {
    text-align: center;
    padding-top: 1em;
}

.fa-contact-icon {
    color: var(--fa-primary);
    font-size: 1.5em;
}

.fa-social-button {
    margin-left: .5em;
    margin-right: .5em;
}

.fa-video-row {
    background-color: white;
    margin-left: 0em;
    width: 100%;
    padding-bottom: .25em;
}

@media only screen and (max-device-width: 575px){
    .fa-video-player {
        margin-bottom: -3em;
        margin-top: -3em;
    }
}